<h1>{{name}}</h1>
<p><strong>Email :</strong> {{email}}</p>
<p><strong>Address :</strong> {{address.street}} , {{address.city}} , {{address.state}}</p>

<button (click)="togglesHobbies()">{{showHobbies ? "Hide Hobbies" : "Show Hobbies"}}</button>
<div *ngIf="showHobbies">
    <h3>Hobbies</h3>
    <ul>
        <li *ngFor="let hobby of hobbies; let i = index">{{hobby}} <button (click)="deleteHobby(i)"><strong>X</strong></button></li>

    </ul>
    <button (click)="addHobby()">Add Hobby</button>
</div>

<br><br>
<input [(ngModel)]="name" />